@import "../css/media.css";

nav.myNav{
    opacity: 95%;
    z-index: 9;
    position:fixed;
}
/*Navbar*/
nav.myNav a.active,#menu-appbar a.active {
    text-decoration: none;
}
nav.myNav a.active button {
    background-color: lightgrey;
    color: black;
}