@media only screen and (max-width: 900px) {
    body{
        padding-right: 0!important;/*Temporary Fix when the hamburger menu clicked at mobile screen*/
    }
    div.hometext{
        margin-top:10vh;
        text-align:center;
    }
    div.img-rounded-circle img{
        width: 300px;
        height: 300px;
    }
    div.myhome {
        background-color:#ffffff;
        height: 100%;
        padding-top: 10vh;
    }
    div.myabout{
        height:100%;
        padding-top:10vh;
        background-color:#ffffff;
    }
    div.myeducation{
        height:100%;
        padding-top:10vh;
        background-color:#ffffff;
    }
    img.i-publication{
        width: 300px;
        height: 150px;
    }
    img.i-about{
        width: 300px;
        height: 250px;
        margin-bottom: 10vh;
    }
  }
@media only screen and (min-width:901px)
{
    img.i-publication{
        width: 500px;
        height: 250px;
    }
}
